<div style="padding-left: 15px;  padding-right: 15px"> 
<img src="http://www.sismologia.cl/img/ssuch.png" style="background-color:black;" width="100%" height="120px">
<hr>   

     <form [formGroup]="periodForm" (ngSubmit)="onSubmit()" validate> 
    
      <label>
      <p class="text-primary">&nbsp;&nbsp;fecha inicial: 
      <input type="date" formControlName="fecha_ini" required>&nbsp;
      </p>
      </label>

      <label>
      <p class="text-primary">&nbsp;fecha final:
      <input type="date" formControlName="fecha_fin" required>&nbsp;
      </p>
      </label>

      <label>
          <p class="text-primary">&nbsp;Primera version :
          <input  type="checkbox" formControlName="pversion">&nbsp;
          </p>
      </label>
      
      <label>
      <p class="text-primay">&nbsp;Status :&nbsp;</p>
      </label>

      <label>
        <select class="form-control" formControlName="status">
          <option value='_todos'>Todos</option>
          <option value='_preliminary'>preliminary</option>
          <option value='_final'>final</option>
          <option value='_reviewed'>reviewed</option>
        </select>
      </label>
      <label>
        <p class="text-primay">&nbsp;Sensible :&nbsp;</p>
        </label>
      <label>
        <select class="form-control" formControlName="sensible">
          <option value='_todos'>Todos</option>
          <option value='_si'>Si</option>
          <option value='_no'>No</option>
        </select>
      </label>
         
      <label>
        &nbsp;
      <button type="submit"  class="btn btn-primary btn-sm" [disabled]="!periodForm.valid">Consultar</button>
      </label>&nbsp;
      <label><button type="button" class="btn btn-primary btn-sm"  (click)="pull()" [disabled]="!periodForm.valid">Bajar datos</button></label>
    </form>

</div>

<div style = "padding-left: 15px; padding-right: 15px">

  <table class="table table-bordered table-sm" width="100%">
        <thead  class="thead-dark">
          <tr><th>id</th><th>author</th><th>creation_time</th><th>mag</th><th>type</th><th>station_count</th>
            <th>Status</th><th>latitud</th><th>longitud</th><th>depth</th><th>user</th><th>sensible</th><th>retardo</th>
            <th>version</th><!--th>stat</th--></tr>
          <tr *ngFor="let o of out  |paginate: { itemsPerPage: 15, currentPage: p } ">
            <td>{{ o['event_id']}}</td>
            <td>{{ o['magnitude']['creation_info']['author']}}</td>
            <td>{{ o['origin']['creation_info']['creation_time']}}</td>
            <td>{{ o['magnitude']['mag']}}</td>
            <td>{{ o['magnitude']['type']}}</td>
            <td>{{ o['magnitude']['station_count']}}</td>
            <td>{{ o['magnitude']['evaluation_status']}}</td>
            <td>{{ o['origin']['latitude']}}</td>
            <td>{{ o['origin']['longitude']}}</td>
            <td>{{ o['origin']['depth']['value']}}</td>
            <td>{{ o['user']}}</td>
            <td>{{ o['sensible']}}</td>
            <td>{{ o['mail_creation_time']}}</td>
            <td>{{ o['version_solution']}}</td>
            <!--td>{{ o['sta'] }}</td-->
          </tr>
        </thead>
    </table>
</div>
<div>
  <div class="row">
    <div class="col" style="background-color:lavender;">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
    <div *ngIf="filedir" class="col" style="background-color:lavender;">
      <p>&nbsp;Archivo a Bajar : <a [href]="fileUrl" download="{{filedir}}.csv">{{filedir}}.csv</a></p>
    </div>
  </div>
  
  
</div>

